<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>
  <div id="logo" th:fragment="logo">
    <img src="/mrcLogo.png">
  </div>
  <div id="menu" th:fragment="menu">
    <a href="/main" class="button">Strona Główna</a>
    <a href="/contact" class="button">Kontakt</a>
    <a href="/faq" class="button">FAQ</a>
    <a th:if="${!logged}" href="/login" class="button">Zaloguj</a>
    <a th:if="${logged}" href="/logout" class="button">Wyloguj</a>
  </div>
</body>
</html>